.container-todoPanel {
    grid-column-start:2;
    background-color: #272727;
    color: #d3d3d3;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.div-container-todoPanel {
    background-color: #323232;
    width: 80%;
    text-align: center;
    padding: 25px 0px;
    border-radius: 5px;
}